/*here are all major containers styled */
body {
    overflow-x: auto;
    color: #333;
    font-family:"Helvetica Neue", Helvetica, Arial, San-Serif;
    font-size: 14px;
}

#header {
    top: 0;
    height: 75px;
    background-color: #395976;
    /* box-shadow: 0 3px 3px rgba(50, 50, 50, 0.52);*/
    position: fixed;
    width: 100%;
    /* z-index needed for buttons/slider */
    z-index: 999;

}

#holder {
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    margin-bottom: 90px;
    min-width: 1000px;
    margin-top: 105px;
}

#results {
    float: left;
    height: 810px;
    width: 70%;
    background-color: #ffffff;
    overflow-y: scroll;
    /*needed to hide add/search related buttons*/
    overflow-x: hidden;
}

#playlist {
    float: right;
    height: 810px;
    width: 30%;
    background-color: #ffffff;
}

#introduction {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 75px;
    padding-right: 75px;
    clear: both;
    background-color: #ffffff;
    /*  syntax: box-shadow: none|h-shadow v-shadow blur spread color |inset|initial|inherit;

    Note: The box-shadow property attaches one or more shadows
    to an element. The property is a comma-separated list of
    shadows, each specified by 2-4 length values, an optional
     color, and an optional inset keyword. Omitted lengths are 0. */
    box-shadow: inset 0px 0px 0px 20px #3b5a77;;

}

#contact {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 75px;
    padding-right: 75px;
    clear: both;
    background-color: #ffffff;
    box-shadow: inset 0px 0px 0px 20px #3b5a77;;
}

#footer {
    bottom: 0;
    left: 0;
    background-color: rgb(59, 90, 119);
    height: 100px;
}