/*stylesheets for the contact container*/

/*contentbox*/
#contactbox {

    text-align: center;
}

#contactbox h3 {
    background-color: #c6d5e2;
}

.mails {
    font-size: 20px;
}

.mails:hover {
    cursor: pointer;
    font-weight: bold;
    text-decoration-line: none;
}

#contactbox hr {
    width: 70%;
    /*border: thin solid #cfcfcf;*/
    border-color: #a7a7a7;
    box-shadow: 1px 1px #bfbfbf;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#contactbox p {
    color: black;
    font-size: 16px;
}

/*all text concerning adress inc. Names/Mails*/
#contactbox address {
    color: black;
    font-size: 15px;
}