.mails {
    font-size: 20px;
}

.mails:hover {
    cursor: pointer;
    font-weight: bold;
    text-underline: none;
    text-decoration-line: none;
}

#contact tr td {
    padding-left: 30px;
    padding-right: 30px;
    width: 50%;
    min-width: 380px;
}

#contact td {
    color: black;
}

#contactbox {
    height: 400px;
}

#contact tr td h3 {
    margin-top: 0;

}

#contactbox hr {
    width: 74%;
    /*border: thin solid #cfcfcf;*/
    border-color: #a7a7a7;
    box-shadow: 1px 1px #bfbfbf;
    margin-bottom: 30px;
    margin-top: 30px;
}

#contactbox p {
    color: black;
    margin-top: 2px;
    font-size: 16px;
}

#contactbox address {
    color: black;
    margin-top: 2px;
    font-size: 15px;
}