body {
    overflow-x: hidden;
}

#main {
    margin-left: 250px;
}

#sizeHolder {
    min-width: 1000px;
    max-width: 70%;
    width: 70%;
    background-color: #ffffff;
    height: auto;
}

#background {
    background-color: #0d141b;
    /*background-color: #7cb9b4;*/
}

.standardText {
    font-size: 16px;
}

p {
    font-family: Arial, serif;
    color: #bababa;
    font-size: 12px;
    letter-spacing: 0px;
}

li {
    font-family: Arial, serif;
    font-size: 12px;
    letter-spacing: 0px;
}

td {
    vertical-align: top;
}

h1 {
    color: #343434;
    font-size: 14px;
    font-family: Bookman Old Style, serif;
    margin-bottom: 4px;
    margin-top: 0px;
}

h2 {
    color: #343434;
    font-size: 20px;
    font-family: Bookman Old Style, serif;
    margin-bottom: 15px;
    margin-top: 0px;
}

h3 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #343434;
    text-shadow: 2px 2px 8px #888888;
}

a {
    color: #2c5269;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    text-decoration: none;

}

.redcolor {
    color: red;
}

ol {
    padding-left: 20px;
}

.maxwidth {
    width: 100%;
}

.textleft {
    text-align: left;
}

.textright {
    text-align: right;
}

.textcenter {
    text-align: center;
}

div td ul li {
    font-size: 16px;
}

* {
    line-height: 1.5;
}

/* {

    border: 1PX DASHED #8428FF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}