#introduction h3 {
    margin-bottom: 50px;
    text-align: center;
}

.introductionTable {
    width:100%;
}

.introductionTable hr {
    width: 70%;
    /*border: thin solid #cfcfcf;*/
    border-color: #a7a7a7;
    box-shadow: 1px 1px #bfbfbf;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.introductionTable td {
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.introductionTable td h2 {
    font-size: 36px;
    color: #343434;
    text-align: center;
}

.introductionTable td p {
    color: black;
    font-size: 16px;
    text-align: center;
}

#leftIntroduction {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
}

#centerIntroduction {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    vertical-align: top;
}

#rightIntroduction {
    vertical-align: top;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}