#leftcolum {
    background-image: url(images/xmas-2014.png);
    background-size: 313px 275px;
    background-repeat: no-repeat;
    display: inline-block;
    padding-top: 30px;
    position: fixed;
    float: left;
    width: 250px;
    height: 100%;
    min-height: 630px;
    top: 0;
    left: 0;

    background-color: #0d141b;
    /* box-shadow: 5px 0 50px #292929; */
}

#leftcolum p {
    color: white;
}

#leftcolum img {
}

.controllist {
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#leftcolum img {
    position: relative;
    display: inline-block;
    margin-left: 0px;
}

#leftcolum ul {
    width: 100%;
}

#leftcolum ul li {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

#leftcolum ul li p {
    margin: 0;
}

.formed {
    height: 30px;
}

.formed button {
    top: 0;
    left: 0;
    text-align: center;
    vertical-align: middle;
    float: left;
    height: 100%;
    width: 14%;
    background-color: #c3ee73;
    border-style: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#generatorSlot {
    padding-top: 20px;
}

.formed input {
    box-sizing: border-box;
    padding-left: 4px;
    padding-right: 5px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-style: none;
    float: right;
    width: 86%;
    height: 100%;
    background-color: #f5f5f5;
}

.formed input:focus {
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.itemslot {
    text-align: center;
    height: 75px;
    background-color: #4676a2;
}

.itemslot:hover {
    background-color: #5188bd;
}

.itemslot:active {
    background-color: #5188bd;
}

#leftcolum ul li:nth-child(4) {
    margin-top: 50px;
}

#leftcolum#welcomeSlot ul li p:first-child {
    float: left;
}

#welcomeSlot {
    text-align: left;
    height: 125px;
    /*  text-shadow: -1px 1px #959595;*/

}

#welcomeSlot p::first-letter {
    font-size: 20px;
    font-family: Verdana, Arial, sans-serif;
}

#welcomeSlot p {
    font-size: 16px;
    word-spacing: 4px;
    letter-spacing: 0px;
    font-family: Arial, serif;
}

#searchSlot {
    padding-top: 20px;
}

#loadSlot {
    padding-top: 20px;
}

.search {
    padding: 6px 15px 6px 30px;
    margin: 3px;
}

#aboutSlot {
    position: absolute;
    padding-top: 10px;
    bottom: 10px;
    left: 0;
    padding-bottom: 13.6px;

    text-align: center;

}

#aboutSlot p:first-child {
    text-decoration: underline;
    padding-bottom: 5px;
}

#copyright {
    bottom: 0;
    left: 0;
}

#mascot {
    position: relative;
    height: 100px;
    width: 100px;
}