#messages {
	list-style: none;
}

#messages li {
	background-color: #f0f0f0;
	border-radius: 5px;
	margin: 10px 0;
	border: thin solid #395976;
    box-shadow: inset -20px 5px 0px 1px #3c5b78;
    padding: 10px 3px 3px;
}

#messages span {
    padding-right: 3px;
}
.removeMessage {
    color:#f0f0f0;
}

.removeMessage:hover {
    color: #d2d2d2;
}

#messages li i {
	cursor: pointer;
    float:right;
    margin-left: 15px;

}