#news_update {
    float: left;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.56);
    color: black;
    padding: 65px 150px;
    text-align: center;
    height: 650px;
    overflow: hidden;
}

#news_update tr:nth-child(2) td {
    padding-left: 100px;
}

#news_update hr {
    width: 80%;
    /*border: thin solid #cfcfcf;*/
    border-color: #a7a7a7;
    box-shadow: 1px 1px #bfbfbf;
    margin-bottom: 20px;
    margin-top: 30px;
}

#news_update h1 {
    font-size: 20px;
}

#news_update ul {
    list-style: disc;
    text-align: left;
}

#news_update h3 {
    margin-bottom: 40px;
}

.updateDate {
    color: indianred;
}

#news_update tr td#news_content:first-child {
    padding-left: 100px;
    padding-right: 100px;
}

.intextglyphicon {
    background-color: #c3ee73;
    height: 25px;
    width: 25px;
    padding: 3px 4px 4px 4px;
    display: inline-block;
    margin-left: 2px
}