.options {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	position: relative;
}

.optionsPane {
	display: block;
	position: absolute;
	right: 0;
	background-color: grey;
	border: solid #000000 1px;
	z-index: 10;
	white-space: nowrap;
}

.optionsEntry {
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 16px;
}

.optionsEntry:hover {
	  background-color: #f6aa48;
  }

.optionsEntry:hover:last-child {
	background-color: #678cf6;
}