html{
    background-color: #101010;
    color: white;
}

button, button:active {
    background-color: #303030;
    border: solid 1px #000000;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    padding: 3px;
    cursor: pointer;
    font-family: serif;
    height: 25px;
}

button:active {
    background-color: #353535;
}