.formedLeft {
    margin-top: 22.5px;
    height: 30px;
    width: 400px;

}

.formedRight {
    margin-top: 22.5px;
    height: 30px;
    width: 400px;

}

.formedLeft button{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.formed button:hover {
    background-color: #d2d2d2;
}

.formedRight input {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
