.oneResult h3 {
    text-shadow: none;
    margin-top: 10px;
    margin-bottom: 0;
}

.oneResult {
    display: block;
    clear: both;
    height: 120px;
    position: relative;
}

.oneResult:hover {
    background-color: #acb9ca;
    transition: background-color, 0.5s, linear;
}

.oneResult:hover .slider {
    right: 0;
    transition: position, 0.5s, linear;

}

.slider {
    height: 100%;
    width: 100px;
    position: absolute;
    right: -100px;
    background-color: rgba(140, 153, 165, 0.60);
    cursor: pointer;

}

.results-title {
    float: left;
    display: inline-block;
    color: #0d141b;
    font-size: 18px;
    width: 55%;
    height: 23px;
    overflow: hidden;
}

.results-description {
    overflow: hidden;
    color: #0d141b;
    font-size: 14px;
    float: left;
    width: 60%;
    height: 82px;
}

.results-image {
    padding: 5px;
    float: left;
    height: 100%;
    width: 18%;
    margin-right: 8px;
}

.addtoPlaylist {
    color: #1d1d1d;
    font-size: 25px;
    height: 50%;
    width: 100%;
}

.searchRelated {
    color: #1d1d1d;
    font-size: 18px;
    height: 50%;
    width: 100%;
}

.loadmoreButton {
    display: none;
    color: #ffffff;
    border: medium none;
    background-color: rgba(140, 153, 165, 0.60);
    text-shadow: 2px 2px 2px #5e5e5e;
    padding: 10px 15px;
    margin: auto;
    box-shadow: 2px 2px 3px gray;
    width: 100%;
}

.loadmoreButton:hover {
    background-color: #acb9ca;
}

.loadmoreContainer {
    clear: both;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
}

#tvset {
    display: block;
    height: 250px;
    background-color: #000000;
}

#progressSlider {
    margin: 10px;
}

#volumeSlider {
    margin: 10px;
}