/*header*/

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav {
    margin-top: 12px;
    margin-bottom: 12px;
    max-height: 35px;/*protection*/
}

header form {
    display: inherit;
}

header form input {
    min-width: 100px;
    width:25%;
    margin:0;
    border: none;
    font-size: 115%;
    padding-left: 5px;
}

header form button {
    margin: 0;
    cursor: pointer;
    font-size: 115%;
}

header ul li:nth-child(2) button {
    border: none;
}

header ul li {
    display: inline;
    margin: 0;
    padding: 0;
}

header .bars {
    display: inline;
    margin-left: 35px;
    margin-right: 60px;
}

header .bars button {
    background-color: transparent;
    color: white;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    border-color: transparent;
    font-size: 138%;
}

/*Controls*/

.controls {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2a2b2d;
    font-size: 118%;
    min-width: 750px;
}

.controls ul {
    padding: 0;
    list-style: none;
    margin: 12px 6px;
}

.controls ul li button {
    display: inline-block;
    font-size: 118%;
    width: 50px;
}

.controls ul li div{
    display: inline-block;

}

.controls ul li:nth-child(4) {
     margin: 0px 20px;
 }

.controls ul li:nth-child(5) {
    margin-right: 20px;
}

.controls ul li {
    display: inline;
}

#playstop {
    background-color: #e25547;
    padding: 5px 8px;
    cursor: pointer;
    font-size: inherit;
    border: none;
}

#playstop:hover {
    background-color: #ff5b4c;
}