/* general styles are made here*/
#background {
    background-color: #5e97ca;
    /*background-color: #7cb9b4;*/
}

.intextglyphicon {
    background-color: #c3ee73;
    height: 25px;
    width: 25px;
    padding: 3px 4px 4px 4px;
    display: inline-block;
    margin-left: 2px
}

.standardText {
    font-size: 16px;
}

p {
    font-family: Arial, serif;
    color: #bababa;
    font-size: 12px;
    letter-spacing: 0px;
}

li {
    font-family: Arial, serif;
    font-size: 12px;
    letter-spacing: 0px;
}

td {
    vertical-align: top;
}

h1 {
    color: #343434;
    font-size: 14px;
    margin-bottom: 4px;
    margin-top: 0px;
}

h2 {
    color: #343434;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 0px;
}

h3 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #343434;
}

a {
    color: #2c5269;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    text-decoration: none;

}

.beta {
    font-size: 20px;
    color: #d41c1a;
    text-decoration: underline;
}

img {

}

.redcolor {
    color: red;
}

ol {
    padding-left: 20px;
}

.maxwidth {
    width: 100%;
}

.textleft {
    text-align: left;
}

.textright {
    text-align: right;
}

.textcenter {
    text-align: center;
}

div td ul li {
    font-size: 16px;
}

* {
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/* {

    border: 1PX DASHED #8428FF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}